.container {
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    
}
.profile {
    padding: 25px 0px;
    text-align: center;
}
.avatar {
border-radius: 50%;
height: 140px;
width: 140px;
background-color: aquamarine;
}
.name {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 5px;
}
.tag {
    font-size: 20px;
    color: rgb(101 101 101);
    margin-bottom: 5px;
}
.location {
    font-size: 18px;
    font-weight: 500;
    color: rgb(101 101 101);
    margin-bottom: 5px;
}
.list{
    display: flex;
    margin: 0;
    padding: 15px;
    background-color: rgb(192 192 192);
    text-align: center;
    justify-content: space-around;
}
.stats {
    border: 2px;
    border-color: grey;
    margin: 0;
}
.text {
font-weight: 500;
margin-bottom: 10px;
}
.numbers {
    font-weight: 800;
}